body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}

#carrossel {
    height: 50vh;
    width: 100%;
}

.swiper {
    height: 100%;
    width: 100%;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}